/* color variables */
/* border radius */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.9rem;
    background-color: #000000;
}
h1{
    margin-bottom: 10px;
    border-bottom: 5px solid #941a26;
}
table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #555658;
    background-color: rgb(0, 0, 0);
    text-align: left;
    overflow: hidden;
}
table thead {
    box-shadow: 0 5px 10px #555658;
}
table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}
table td {
    padding: 1rem 2rem;
}
table a {
    text-decoration: none;
    color: #2962ff;
}
table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
table .status-death {
    background-color: #941a26;
    color: #220101;
}
table .status-recovered {
    background-color: #1a942a;
    color: #052201;
}
table tr:nth-child(even) {
    background-color: #1b1b1b;
}
